.DS_Store
docker/dynamodb/*
pickup.txt
node_modules

frontend-react-js/.env
frontend-react-js/build/

backend-flask/.env
backend-flask/test.py
backend-flask/.rds.txt
backend-flask/bin/ddb/thepath

serverless-cdk/cdk.out
serverless-cdk/node_modules
serverless-cdk/synth.yaml

start-rds
onstart
test/*
/docker/*
*/.env

env.txt
notes.txt
**/*/session-manager-plugin.deb