:root {
  --primary-color: #b957ff;
  --bg-color: #131212;

  --field-border: rgba(192, 192, 192, 0.6);;
  --field-border-focus: #fff;
  --field-bg: rgba(149,0,255,0.1);
}

* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background: #390b71;
}

body {
  margin: 0;
  font-family: consolas, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}